.form {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3),
    -1px -1px 2px rgba(128, 128, 128, 0.3);

  .card-number {
    flex: 3;
  }
  .cvc,
  .date {
    flex: 1;
  }
}

.img {
  width: 25px;
  object-fit: cover;
  margin-right: 5px;
}

.input {
  padding: 0;
  margin: 2px;
  font-size: 1rem;
  outline: none;
  border: none;
  transition: all 200ms linear;

  &:placeholder {
    color: rgba(128, 128, 128, 0.5);
  }

  &:hover {
    border-color: black;
  }
  &:focus {
    border-width: 0px;
    padding: 0px;
    border-color: #2a87ff;
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
    padding: 10px;

    .img {
      display: none;
    }

    .card-number:focus ~ .input {
      flex: 1;
    }
    .card-number:focus {
      flex: 5;
    }
  }
}
